.painel-cores {
    position: relative;
    top: -40px;
    left: -40px;
   
}

#seta{
    color: white;
    rotate: 90deg;
    font-size: 20px;
    font-weight: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seta:hover{
    background-color: rgba(159, 159, 159, 0.46);
 
}

@media (max-width:600px) {
    .painel-cores{
        top: -40px;
        left: -30px;
    }
}