.painel-cores {
    position: relative;
    top: -40px;
    left: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seta {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--cor-roxo-escuro);
    text-align: center;
    cursor: pointer;
    margin: 1px;
}

.texto-cor {
    color: var(--cor-roxo-escuro);
    text-align: start;
    font-size: 10px;
    margin-top: 4px;
}

.painel-opcao {
    width: 300px;
    height: 40px;
    background-color: var(--cor-branco);
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding-left: 20px;
    z-index: 1;
}

.fa-eye-slash{
    padding: 8px;
    color: var(--cor-preto);
    cursor: pointer;
}

.fa-eye-slash:hover{
    scale: 1.2;

}

.cor {
    width: 22px;
    height: 22px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 2px;
}

.cor:hover {
    scale: 1.1;

}

.cor_red {
    background-color: #a42929;
}

.cor_blue {
    background-color: #5360ed;
}

.cor_yellow {
    background-color: #c0bd22;
}

.cor_green {
    background-color: #36c344;
}

.cor_pink {
    background-color: #e248e2;
}

.cor_purple {
    background-color: #8c52ff;
}







@media (max-width:600px) {

    .painel-opcao {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        padding-block-start: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .cor {
        width: 40px;
        height: 35px;
    }
    
    .fa-eye-slash{
        padding: 7px;
        margin-right: 8px;
        font-size: 22px;
    }
}