.painel-cores {
    position: relative;
    top: -40px;
    left: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seta {
    width: 20px;
    height: 20px;
    background-color: var(--cor-roxo-escuro);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin: 1px;
    border: solid 1px var(--cor-branco);

}

.texto-cor {
    color: var(--cor-roxo-escuro);
    text-align: start;
    font-size: 10px;
    margin-top: 4px;
}

.painel-opcao {
    width: 270px;
    height: 35px;
    background-color: var(--cor-branco);
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    margin: 0 auto ;
}

.cor {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px ;
}

.cor:hover{
    scale: 1.1;

}

.cor_red {
    background-color:  #ff5252;
    box-shadow: 0 0 5px ;
}

.cor_blue {
    background-color:  #5360ed;
}

.cor_yellow{
    background-color:  #e7e42e;
}

.cor_green{
    background-color:  #4ce35b;
}

.cor_pink {
    background-color:  #e248e2;
}

.cor_purple{
    background-color: #8c52ff;
}







@media (max-width:600px) {

    .painel-opcao{
        width: 50px;
        height: 240px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 230px;
        border-top-left-radius:20px;
        border-bottom-right-radius: 0;
        z-index: 1;
        gap: 15px;
    }
    .cor{
        width: 25px;
        height: 25px;
    }

    
    .painel-cores {
        top: -40px;
        left: -50px;
        
    }
}