.logoMenu {
    font-size: 30px;
    position: absolute;
    color: var(--cor-branco);
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;

}

.logoMenu:hover {
    scale: 1.3;
}

.menu {
    height: calc(100% - 50%);
    position: absolute;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    
}



.menuUm {
    width: 80px;
    background-color: rgb(151, 151, 151);
}



.menuUm:hover {
    width: 260px;
    transition: 1s;
    
}

.menu-escondido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 70px 0;
    overflow: hidden;
    margin-top: 20px;

}


.caixa-icons {
    height: 70px;
    width: 70px;
    cursor: pointer;
    padding-left: 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--cor-vermelho);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
  

}

.caixa-icons:hover {
    background-color: var(--cor-vermelho);
   width: 220px;
    transition: 0.4s;

}

.caixa-icons:hover {
    transition: 0.6s;
}


.icons {
    font-size: 30px;
    color: var(--cor-preto);
    margin-right: 40px;


}

span {
    font-size: 19px;
    font-weight: 800;
    color: var(--cor-branco);
}

@media (max-width: 600px) {

    .logoMenu {
       font-size: 20px;
    }

    .menu {
        padding: 50px 0 0 0;
        border: none;
    }
    .menu-escondido{
        padding: 40px 0 10px 0;
    }

    .menuUm{
        padding-left: 15px;
        width: 130px;
    }

    .menuUm:hover {
        width: 150px;
    }

    .icons {
        font-size: 20px;
        margin-right: 10px;
        color: var(--cor-grey);

    }

    .caixa-icons {
        width: 100px;
        height: 40px;
        background-color: var(--cor-vermelho);
        border-radius: 20px;
    }

    .caixa-icons:hover{
        width: 100px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    .caixa-icons span {
        font-size: 10px;
    }


}