.logoMenu {
    font-size: 30px;
    position: absolute;
    color: var(--cor-branco);
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;

}

.logoMenu:hover {
    scale: 1.3;
}

.menu {
    height: calc(100% - 50%);
    position: absolute;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
}

.menuUm {
    width: 70px;
    transition: 0.4s;
    border-left: solid 10px var(--cor-vermelho);
    background-color: var(--cor-cinza);
    border-bottom-right-radius: 10px;
}

.menuUm:hover {
    width: 260px;
    transition: 0.6s;
}

.menu-escondido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 45px 0;
    overflow: hidden;

}


.caixa-icons {
    height: 70px;
    width: 50px;
    cursor: pointer;
    padding-left: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.caixa-icons:hover {
    background-color: var(--cor-vermelho);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: 0.4s;

}

.caixa-icons:hover {
    width: 240px;
    transition: 0.6s;
}


.icons {
    font-size: 30px;
    color: var(--cor-grey);
    margin-right: 40px;


}

span {
    font-size: 19px;
    font-weight: 800;
    color: var(--cor-branco);
}

@media (max-width: 600px) {

    .fa-bars {
        font-size: 60px;
    }

    .menu {
        padding: 50px 0 0 0;
    }
    .menu-escondido{
        padding: 40px 0 10px 0;
    }

    .menuUm:hover {
        width: 200px;
    }

    .icons {
        font-size: 20px;
    }

    .caixa-icons {
        height: 50px;
    }
    .caixa-icons:hover{
        width: 170px;
        transition: 0.6s;

    }

    .caixa-icons span {
        font-size: 10px;
    }


}