.logoMenu {
    font-size: 30px;
    position: absolute;
    color: white;
    left: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 2;

}

.logoMenu:hover {
    scale: 1.3;
}

.menu {
    height: 45%;
    position: absolute;
    width: 0;
    z-index: 1;
    top: 15px;
    left: 12px;
    
}



.menuUm {
    width: 75px;
   
 
}



.menuUm:hover {
    width: 260px;

}

.menu-escondido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 70px 0;
    overflow: hidden;
    

}


.caixa-icons {
    height: 70px;
    width: 70px;
    cursor: pointer;
    padding-left: 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--cor-vermelho);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
  

}

.caixa-icons:hover {
    background-image: linear-gradient(to right, var(--cor-azul-escuro)10%, var(--cor-branco));
   width: 220px;
    transition: 0.9s;

}

.caixa-icons:hover {
    transition: 0.6s;
}


.icons {
    font-size: 30px;
    color: var(--cor-branco);
    margin-right: 40px;


}

span {
    font-size: 19px;
    font-weight: 800;
    color: var(--cor-azul-escuro);
}

@media (max-width: 600px) {

    .logoMenu {
       font-size: 20px;
    }

    .menu {
        padding: 50px 0 0 0;
        border: none;
    }
    .menu-escondido{
        padding: 40px 0 10px 0;
    }

    .menuUm{
        padding-left: 15px;
        width: 130px;
        background-color: rgb(168, 168, 168);
        border-radius: 20px;
    }

    .menuUm:hover {
        width: 150px;
    }

    .icons {
        font-size: 20px;
        margin-right: 10px;
        color: var(--cor-branco);

    }

    .caixa-icons {
        width: 100px;
        height: 40px;
       background-color: var(--cor-azul-escuro);
        border-radius: 20px;
    }
    span{
        color: white;
    }

    .caixa-icons:hover{
        width: 100px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    .caixa-icons span {
        font-size: 10px;
    }


}