.painel-informacao-projetos{
  padding: 0 40px;
  margin-bottom: 100px;
}

.painel-informacao-projetos .projetos{
    margin-bottom: 30px;
}

.descricao span{
    color: var(--cor-roxo-escuro);
    font-weight: 1000;
}


.painel-projetosUm {
  
    height: 90vh;
    margin:0 auto 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --cor-roxo-painel);

}



.caixa-projetos {
    width: 200px;
    height: 220px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
    text-decoration: none;
    overflow: hidden;
}

.caixa-projetos:hover {
    box-shadow: 0 0 10px 5px var(--cor-roxo-escuro);
}

.caixa-projetos img {
    width: 100px;
    margin-top: 40px;
}

.caixa-projetos p {
    margin-bottom: 30px;
    text-align: center;
    color: black
}

.caixa-informacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: -100px;
    color: var(--cor-roxo-escuro);
   transition: .6s;
}

.lista-recursos{
    list-style: none;
    display: flex;
    justify-content: center;
}

.lista-recursos img {
    width: 20px;
}


.caixa-projetos:hover .caixa-informacao{
    bottom: -70px;
    transition: .6s;
}






.evento {
    font-size: 70px;
    color: var(--cor-roxo-escuro);
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.evento:active {
    font-size: 60px;
}

.evento:hover {
    color: var(--cor-azul-texto);
}

.caixaUm {
    animation: posicaoUm 1s forwards;
    display: block;

}

.caixaDois {
    animation: posicaoDois 1.3s forwards;
    display: block;
}

.caixaTres {
    animation: posicaoTres 1.6s forwards;
    display: block;
}

.caixaQuatro {
    animation: posicaoQuatro 1.9s forwards;
    display: block;
}

.caixaCinco {
    animation: posicaoCinco 2.2s forwards;
    display: block;
}

@keyframes posicaoUm {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 20%;
        top: 20%;
    }

}


@keyframes posicaoDois {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 50%;
        top: 20%;
    }

}


@keyframes posicaoTres {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 80%;
        top: 20%;
    }

}


@keyframes posicaoQuatro {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 30%;
        top: 80%;
    }

}


@keyframes posicaoCinco {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 70%;
        top: 80%;
    }

}

@media (max-width: 600px) {
    .caixa-projetos {
        width: 90px;
        height: 120px;
    }

    .caixa-projetos img {
        width: 60px;
    }

    .caixa-projetos p {
        font-size: 10px;
        margin-bottom: 50px;
    }

    .lista-recursos {
        bottom: 0;
    }

    .lista-recursos img {
        width: 15px;
    }

    .painel-projetosUm {
        width: 100%;
    }

    .caixa-informacao{
      bottom: -80px;
    }
 




}