

.projetos {
    text-align: center;
    margin: 200px 0 80px 0;
    background-image: url();
}


.painel-projetosUm {
    width: 100%;
    height: 70vh;
    margin-bottom: 100px;
 
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel-projetosDois {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 15px;
    position: relative;
}


.caixa-projetos {
    width: 200px;
    height: 220px;
    border-radius: 15px;
    background-color: var(--cor-azul-fundo);
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.evento{
    font-size: 70px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


.evento:hover{
    font-size: 85px;
}

.caixaUm {
    animation: posicaoUm 1s forwards;
    background-image:url(img/barbearia.png);
    background-size: cover;
    
}
.caixaDois{
    animation: posicaoDois 1.3s forwards;
    background-image: url(img/calculadora.png);
    background-size: cover;
}
.caixaTres{
    animation: posicaoTres 1.6s forwards;
    background-image: url(img/jogo.png);
    background-size: cover;
}
.caixaQuatro{
    animation: posicaoQuatro 1.9s forwards;
    background-image: url(img/robotron.png);
    background-size: cover ;
}
.caixaCinco{
    animation: posicaoCinco 2.2s forwards;
    background-image: url(img/apeperia.png);
    background-size: cover;
}


@keyframes posicaoUm {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
       left: 20%;
       top: 25%;
    }

}


@keyframes posicaoDois {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
       left: 50%;
       top: 25%;
    }

}


@keyframes posicaoTres {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
       left: 80%;
       top: 25%;
    }

}


@keyframes posicaoQuatro {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
       left: 30%;
       top: 67%;
    }

}


@keyframes posicaoCinco {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 70%;
        top: 67%;
    }

}
