.projetos {
    text-align: center;
}


.painel-projetosUm {
    width: 95%;
    height: 70vh;
    margin-bottom: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--cor-roxo-escuro);
}



.caixa-projetos {
    width: 200px;
    height: 220px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(182, 182, 182);
    text-decoration: none;
    overflow: hidden;
}

.caixa-projetos:hover {
    border: solid 4px var(--cor-roxo-escuro);
}

.caixa-projetos img {
    width: 100px;
    margin-top: 40px;
}

.caixa-projetos p {
    margin-bottom: 30px;
    color: var(--cor-roxo-escuro);
}

.lista-recursos {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 14px;
    gap: 4px;
    position: absolute;
    bottom: -15px;
    color: var(--cor-roxo-escuro);
}

.caixa-projetos:hover .lista-recursos {
    bottom: 10px;
    transition: .6s;
}




.evento {
    font-size: 70px;
    color: var(--cor-roxo-escuro);
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.evento:active {
    font-size: 60px;
}

.evento:hover {
    color: var(--cor-azul-texto);
}

.caixaUm {
    animation: posicaoUm 1s forwards;
    display: block;

}

.caixaDois {
    animation: posicaoDois 1.3s forwards;
    display: block;
}

.caixaTres {
    animation: posicaoTres 1.6s forwards;
    display: block;
}

.caixaQuatro {
    animation: posicaoQuatro 1.9s forwards;
    display: block;
}

.caixaCinco {
    animation: posicaoCinco 2.2s forwards;
    display: block;
}

@keyframes posicaoUm {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 20%;
        top: 20%;
    }

}


@keyframes posicaoDois {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 50%;
        top: 20%;
    }

}


@keyframes posicaoTres {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 80%;
        top: 20%;
    }

}


@keyframes posicaoQuatro {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 30%;
        top: 80%;
    }

}


@keyframes posicaoCinco {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        left: 70%;
        top: 80%;
    }

}

@media (max-width: 600px) {
    .caixa-projetos {
        width: 80px;
        height: 100px;
    }

    .logoMenu {
        font-size: 50px;
    }

}