@import url(menu.css);
@import url(habilidades.css);
@import url(projetos.css);
@import url(formacao.css);
@import url(contato.css);
@import url(checkbox.css);
@import url(cores.css);
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Noto+Sans+Adlam+Unjoined:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-preto: #000000;
    --cor-azul-escuro: #01002f;
    --cor-branco: #e9e9e9;
    --cor-azul-texto: #598ae4;
    --cor-roxo-escuro: #8c52ff;
}

.corRed:root {
    --cor-roxo-escuro: #ff5252;
}

.corBlue:root {
    --cor-roxo-escuro: #5360ed;
}

.corYellow:root {
    --cor-roxo-escuro: #eaed53;
}

.corGreen:root {
    --cor-roxo-escuro: #53ed53;
}

.corPink:root {
    --cor-roxo-escuro: #e248e2;
}

.corPurple:root {
    --cor-roxo-escuro: #8c52ff;
}


.ligth:root {
    --cor-preto: #ffffff;
    --cor-branco: #000000;
}



html {
    animation: opasity 1s;
}

@keyframes opasity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    font-family: 'Noto sans Adlam Unjoined', cursive;
    background-color: var(--cor-preto);
}

/* .portifolio {
    background-color: var();
    height: 100%;
} */

.conteudo {
    padding: 0 5em;
}

.painel-perfil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--cor-preto);
    position: relative;
}

.perfil-img {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    margin-top: 160px;
}

.imgUm {
    width: 300px;
    border-radius: 50%;
    border: solid 6px var(--cor-roxo-escuro);
}

.painel-texto-nome {
    width: 220px;
    height: 80px;
    position: absolute;
    bottom: 50px;
    left: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto-nome {
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    color: var(--cor-branco);
}

.texto-nome::after {
    content: '';
    position: absolute;
    width: 230px;
    height: 4px;
    background-color: var(--cor-roxo-escuro);
    bottom: -5px;
    left: -7px;
}

.texto-nome::before {
    content: '';
    position: absolute;
    rotate: 50deg;
    width: 10px;
    height: 10px;
    background-color: var(--cor-roxo-escuro);
    left: -26px;
    bottom: -8px;
    border: solid 1px var(--cor-branco);
}

.texto-idade {
    font-style: italic;
    text-align: end;
    font-size: 14px;
    color: var(--cor-roxo-escuro);
}

.painel-texto-efeito {
    width: 280px;
    height: 40px;
    position: absolute;
    top: 30%;
    right: -100%;
    text-align: start;
}

.painel-texto-efeito p {
    color: var(--cor-branco);
    font-weight: 600;
    font-size: 18px;
}

.texto-desenvolvedor {
    text-align: start;
    display: inline;
    font-style: italic;
    position: relative;
}

.texto-desenvolvedor::after {
    content: '';
    width: 280px;
    height: 4px;
    background-color: var(--cor-roxo-escuro);
    position: absolute;
    bottom: -8px;
    left: -26px;
    border-radius: 2px;
}

.painel-texto-efeito::before {
    content: '';
    position: absolute;
    rotate: 50deg;
    width: 10px;
    height: 10px;
    background-color: var(--cor-roxo-escuro);
    right: 6px;
    bottom: 3px;
    border: solid 1px white;
}

.pisca {
    font-weight: 1000;
    animation: pisca 0.5s infinite linear;
    color: black;
    display: inline-block;
}

@keyframes pisca {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.links {
    display: flex;
    width: 220px;
    margin: 450px auto 0;
    justify-content: space-around;
}


.linkedin,
.github {
    font-size: 50px;
}

.linkedin {
    color: rgb(3, 120, 209);
}

.github {
    color: rgb(93, 3, 145);

}


.linkedin:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

.github:hover {
    transform: scale(1.2);
    transition: 0.1s;
}


.painel-sobre-mim {
    height: 100vh;
}

.painel-perfil-imgDois {
    text-align: end;
    margin-right: 100px;
}

.imgDois {
    margin-top: 50px;
    width: 400px;
    background-color: var(--cor-preto);
    background-color: transparent;

}

.apresentacao {
    text-align: start;
    width: 100%;

}


.informacoes {
    text-align: start;
}

.texto {
    color: var(--cor-roxo-escuro);
    font-size: 80px;
}

.sobre-mim {
    text-align: start;
    margin-bottom: 30px;
}

.sobre-mim span {
    color: var(--cor-branco);
}

.descricao {
    color: var(--cor-branco);
    font-size: 24px;
    text-align: start;
    margin: 0;

}


.botaoAtivado {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 120px;
    right: 50px;
    border-radius: 50%;
    background-color: var(--cor-roxo-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.fa-arrow-up {
    font-size: 30px;
    color: var(--cor-preto);
}


.botaoUp:hover {
    opacity: 0.8;
    scale: 1.1;
}

.caixaCopy {
    width: 100%;
    height: 100px;
    background-color: var(--cor-roxo-escuro);
    color: var(--cor-preto);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}



@media (max-width:650px) {

    .perfil-img {
        top: -90px;

    }

    .conteudo {
        padding: 20px;
    }

    .imgUm {
        width: 200px;
        border: solid 4px var(--cor-roxo-escuro);
    }


    .painel-texto-nome {
        width: 100px;
        top: -10px;
        left: -50px;
    }

    .texto-nome::before {
        width: 6px;
        height: 6px;

    }

    .texto-nome {
        text-align: start;
        font-size: 13px;
        font-weight: 600;
        position: relative;
        color: var(--cor-branco);
    }

    .texto-nome::after {
        content: '';
        position: absolute;
        width: 124px;
        height: 3px;
        background-color: var(--cor-roxo-escuro);
        bottom: 0px;
        left: -7px;
    }

    .texto-idade {
        font-size: 10px;
        padding: 0 23px 40px;
    }

    .texto-nome::before {
        left: -25px;
        top: 10px;
    }


    .painel-texto-efeito {
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translate(-50%);
        width: 200px;
    }

    .painel-texto-efeito::before {
        left: -20px;
        bottom: 7px;
        width: 6px;
        height: 6px;
    }

    .texto-desenvolvedor::after {
        content: '';
        width: 190px;
        height: 3px;
        background-color: var(--cor-roxo-escuro);
        position: absolute;
        bottom: -8px;
        left: 0px;
        border-radius: 2px;
    }


    .painel-texto-efeito .texto-desenvolvedor {
        font-size: 15px;
    }










    .imgDois {
        width: 200px;
    }

    .texto-efeito {
        margin-left: 30px;
        font-size: 17px;
        width: 290px;
        left: 50%;
        transform: translate(-50%);
        bottom: 10px;


    }

    .painel-texto p {
        font-size: 30px;
    }

    .painel-perfil {
        justify-content: space-around;
        padding: 60px 0;
    }

    .painel-perfil-imgDois {
        margin-right: 0;
    }

    .texto {
        font-size: 35px;
        font-weight: 1000;
    }

    .informacoes {
        padding: 0;
    }

    .descricao {
        font-size: 15px;
        font-weight: 500;
    }

    .botaoAtivado {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 30px;
    }

    .fa-arrow-up {
        font-size: 20px;
    }

    .portifolio {
        padding-bottom: 100px;
    }


}

@media (max-width:1250px) {

    .texto-efeito {
        top: -70px;
        left: 50%;
        transform: translate(-50%);
    }
}