@import url(menu.css);
@import url(habilidades.css);
@import url(projetos.css);
@import url(formacao.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --cor-grey: #d9d9d9;
    --cor-branco: #fdfdfd;
    --cor-preto: #000000;
    --cor-cinza: #737373;
    --cor-vermelho: #ca2929;
    --cor-vermelho-fraco: rgb(191, 87, 87);
}

html {
    animation: opasity 1s;
}

@keyframes opasity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}



body {
    background-color: var(--cor-branco);
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 100px;

}

.portifolio {
    background-color: var(--cor-branco);
}
.conteudo {
    padding: 0 7vw;
   
    
}

.painel-perfil {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(--cor-vermelho)50%, var(--cor-branco)50%);
    margin-bottom: 200px;
    height: 100vh;
}


.perfil-img {
    text-align: center;
    position: relative;
}

.imgUm {
    width: 500px;
}

.texto-efeito {
    color: var(--cor-branco);
    position: absolute;
    font-weight: 600;
    font-size: 30px;
    width: 500px;
    margin-left: 20px;
    left: 62%;
    bottom: 50%;
    display: flex;

}

.pisca {
    display: inline-block;
    font-weight: 1000;
    animation: pisca 0.5s infinite linear;
    color: var(--cor-branco);
}

@keyframes pisca {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.painel-texto p {
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-vermelho);
    text-align: center;
    margin-bottom: calc(100% - 95%);

}


.links {
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-around;


}


.linkedin,
.github {
    font-size: 50px;
}

.linkedin {
    color: rgb(3, 120, 209);
}

.github {
    color: rgb(93, 3, 145);

}


.linkedin:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

.github:hover {
    transform: scale(1.2);
    transition: 0.1s;
}


.painel-sobre-mim {
    height: 70vh;
}

.painel-perfil-imgDois {
    display: flex;
    justify-content: end;
    margin-right: 10vw;
    margin-top: 10px;
}

.apresentacao {
    text-align: end;
    margin: 40px 0 90px 0;

}


.imgDois {
    margin-top: 50px;
    width: 400px;
    border-radius: 50%;
    background-color: var(--cor-vermelho);

}

.informacoes {
    text-align: start;
    padding: 0 150px;
    width: 90%;
}

.texto {
    color: var(--cor-vermelho);
    font-size: 80px;
}

.sobre-mim {
    font-size: 24px;
    color: var(--cor-preto);
}

.sobre {
    position: relative;
    margin-right: 10px;
}

.sobre::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--cor-azul);
    left: 0;
    bottom: -10px;
}


.descricao {
    color: var(--cor-preto);
    font-size: 24px;
    margin-top: 30px;
}


.botaoAtivado {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    background-color: var(--cor-vermelho);
    color: var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

.fa-arrow-up {
    font-size: 30px;
}


.botaoUp:hover {
    opacity: 0.8;
    scale: 1.1;
}

@media (max-width:650px) {

    .painel-perfil {
        margin-bottom: 100px;
    }

    .imgUm {
        width: 270px;
        margin-top: 50px;

    }

    .imgDois {
        width: 200px;
    }

    .texto-efeito {
        margin: 0 auto;
        font-size: 17px;
        width: 290px;
        top: 40px;
        left: 80%;
        transform: translate(-80%);
    }

    .painel-texto p {
        font-size: 30px;
    }

    .painel-perfil {
        justify-content: space-around;
        padding: 60px 0;
    }

    .painel-perfil-imgDois {
        margin-right: 0;
    }

    .texto {
        font-size: 35px;
        font-weight: 1000;
    }

    .informacoes {
        padding: 0;
    }

    .descricao {
        font-size: 15px;
        font-weight: 500;
    }

    .botaoAtivado {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 30px;
    }
    .fa-arrow-up{
        font-size: 20px;
    }
}