/* animações */
@keyframes crescer {
  0% {
    width: 0;
  }
  40% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes mover {
  0% {
    left: 0;
  }
  40% {
    box-shadow: 0 0 3px 3px var(--cor-gray);
    left: 0;
  }
  100% {
    left: 99%;
    box-shadow: 0 0 3px 2px var(--cor-gray);
  }
}

@keyframes opacity_home {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes opacity_efeito {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  height: auto;
  min-height: 100dvh;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

#cardNotice {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

:root {
  --cor-gray: #66fcf1;
}

.text_desenvolvedor {
  color: var(--cor-gray);
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 90px;
  z-index: 1;
}

.text_desenvolvedor::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--cor-gray);
  left: 0;
  bottom: -5px;
  border-radius: 5px;
  animation: crescer 3s linear forwards;
}

.text_desenvolvedor::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: var(--cor-gray);
  left: 0;
  bottom: -5px;
  border-radius: 50%;
  animation: mover 3s linear;
  margin-left: 2px;
}

.painel_img_texto_sobre::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 250px;
  background-color: var(--cor-gray);
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
  border-top-left-radius: 10px;
}

.painel_img_texto_sobre::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 20px;
  background-color: var(--cor-gray);
  top: 0px;
  left: 0;
  clip-path: polygon(100% 0, 89% 100%, 0 100%, 0 0);
  border-top-left-radius: 10px;
}

img {
  width: 230px;
  height: 230px;
  object-fit: contain;
  border-radius: 50%;
  background-size: contain;
}

.icon_links {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 160px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.icon_links a {
  font-size: 30px;
  color: var(--cor-gray);
}

.icon_links a:hover {
  transform: scale(1.1);
  color: #666666;
}

.painel_projetos {
  display: flex;
  align-self: center;
  color: #666666;
  gap: 20px;
  margin-bottom: 60px;
}

.painel_projetos h2 {
  letter-spacing: 2px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
}

.projetos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: relative;
}

.projetos p:hover {
  transform: scale(1.1);
  color: var(--cor-gray);
}

.projetos p {
  cursor: pointer;
  font-weight: 400;

  position: relative;
}

.projetos p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--cor-gray);
  left: 0;
  bottom: -5px;
  border-radius: 5px;
  animation: crescer 3s linear forwards;
}

.projetos p::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: var(--cor-gray);
  left: 0;
  bottom: -5px;
  border-radius: 50%;
  animation: mover 3s linear;
  margin-left: 2px;
}

.painel_nome_data {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.painel_nome_data::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 250px;
  background-color: var(--cor-gray);
  bottom: 0;
  right: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 11%);
  border-bottom-right-radius: 10px;
}

.painel_nome_data::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 20px;
  background-color: var(--cor-gray);
  bottom: 0;
  right: 0;
  clip-path: polygon(100% 100%, 0 100%, 11% 0, 100% 0);
  border-bottom-right-radius: 10px;
}

.painel_nome_data p {
  color: var(--cor-gray);
  font-size: 11px;
  margin: 0 25px 23px 0;
}

.opacity_projeto {
  animation: opacity_home linear 0.4s;
  margin: 90px 0 0 90px;
  background-color: transparent;
}

@media (max-width: 1200px) {
  .text_desenvolvedor {
    top: 60px;
  }
}

@media (max-width: 900px) {
  .text_desenvolvedor {
    font-size: 24px;
  }

  .painel_projetos h2 {
    font-size: 16px;
  }

  .projetos p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .opacity_projeto {
    margin-left: 20px;
  }
  .text_desenvolvedor {
    font-size: 16px;
    left: 60px;
    transform: translate(0);
  }

  .icon_links {
    width: auto;
    gap: 10px;
    right: 5px;
    top: 5px;
  }
  .icon_links a {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .home {
    padding: 5px;
  }
  .img_texto_sobre {
    text-align: center;
  }
  .opacity_projeto {
    margin-left: 8px;
  }
  .painel_img_texto_sobre::before {
    width: 250px;
    height: 8px;
    clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
  }
  .painel_img_texto_sobre::after {
    width: 8px;
    height: 250px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  .painel_nome_data::before {
    width: 250px;
    height: 8px;
    clip-path: polygon(100% 100%, 0 100%, 10% 0, 100% 0);
  }
  .painel_nome_data::after {
    width: 8px;
    height: 250px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
  }

  .painel_projetos h2 {
    margin: 0;
  }

  .painel_nome_data {
    right: 5px;
    bottom: 5px;
  }

  .painel_nome_data p {
    margin: 0 10px 10px 0;
  }

  .text_desenvolvedor {
    left: 20px;
    top: 30px;
    transform: translate(0);
  }

  .projetos {
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .painel_projetos {
    flex-direction: column;
    gap: 10px;
  }
  .projetos {
    flex-direction: column;
  }
}
