.cardOnNotice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(242, 242, 242);
  width: 350px;
  border-radius: 10px;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0 0 10px var(--cor-gray);
  transition: all 1s linear;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cardOnNotice img {
  width: 100px;
  height: 100px;
}
.cardOnNotice h2 {
  font-size: 16px;
  font-weight: 500;
}

.cardOnNotice .iconClose {
  cursor: pointer;
}
