.card_text {
  display: none;
}

.cardOn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  border: solid 2px white;
  background-color: white;
  max-width: 200px;
  max-height: 200px;
  border-radius: 20px;
  color: black;
  position: absolute;
  top: -50px;
  left: -200px;
}

.iconTec {
  font-size: 60px;
}
