* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D1217;

}

.painel_home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}