.home {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    position: relative;
    font-family: "Montserrat", sans-serif;
    ;
    /* border: solid 1px greenyellow; */

}

:root {
    --cor-gray: #e2d600;
}

.text_desenvolvedor {
    color: #ababab;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 90px;
    z-index: 1;
}


.painel_img_texto_sobre::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 250px;
    background-color: var(--cor-gray);
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);

}

.painel_img_texto_sobre::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 20px;
    background-color: var(--cor-gray);
    top: 0px;
    left: 0;
    clip-path: polygon(100% 0, 89% 100%, 0 100%, 0 0);
}


img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-size: contain;

}



.icon_links {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 160px;
    display: flex;
    justify-content: space-around;
}

.icon_links a {
    font-size: 30px;
    color: #666666;
}

.icon_links a:hover {
    transform: scale(1.1);
    color: var(--cor-gray);
}


.painel_projetos {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: #666666;
}

.painel_projetos h2{
    letter-spacing: 2px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
}

.projetos {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.projetos p:hover {
    transform: scale(1.1);
    color: var(--cor-gray);
}

.projetos p {
    cursor: pointer;
    font-weight: 400;
}


.projetos::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 2px;
    background-color: var(--cor-gray);
    bottom: -4px;
    left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.painel_nome_data {
    position: absolute;
    bottom: 10px;
    right: 30px;
}




.painel_nome_data::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 250px;
    background-color: var(--cor-gray);
    bottom: -10px;
    right: -20px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 11%);
}

.painel_nome_data::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 20px;
    background-color: var(--cor-gray);
    bottom: -10px;
    right: -20px;
    clip-path: polygon(100% 100%, 0 100%, 11% 0, 100% 0);
}

.painel_nome_data p {
    color: #ababab;
    font-size: 11px;
    margin: 0 4px 13px 0;
}





.opacity_projeto {
    animation: opacity linear 0.4s;
    margin: 90px 0 0 90px;
    background-color: transparent;

}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: scale(0.2);


    }

    100% {
        opacity: 1;
        transform: scale(1);


    }
}


@media (max-width:1104px) {
    .text_desenvolvedor {
        font-size: 20px;
        position: absolute;
        top: 50px;
    }

    .painel_projetos {
        bottom: 100px;
        left: 30px;
    }

    .projetos {
        justify-content: space-between;

    }

    .projetos p {
        font-size: 13px;
    }

    .projetos::after {
        width: 2px;
        height: 35px;
        top: 0;
        left: -7px;
    }

    .projetos::before {
        height: 2px;
        bottom: -7px;
        left: -7px;
    }


}


/* home mobile */


@media (max-width: 767px) {

    .icon_links {
        top: 40px;
        width: 100px;
    }

    .icon_links a {
        font-size: 20px;
    }

    .text_desenvolvedor {
        width: 150px;
        font-size: 10px;
        left: 90px;
        top: 13px;
        background-color: transparent;
        

    }

    .painel_img_texto_sobre::after {
        width: 8px;
        height: 150px;
    }

    .painel_img_texto_sobre::before {
        width: 150px;
        height: 8px;
    }

    .opacity_projeto {
        margin: 80px 0 0 50px;
        background-color: transparent;
       
    }

    

    img {
        width: 100px;
        height: 100px;
    }

    .painel_projetos {
        width: 400px;
        bottom: 100px;
        position: static;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .painel_projetos h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .projetos {
        width: calc(100% - 45px);
        font-size: 14px;
        justify-content: space-around;
    }

    .projetos::after {
        display: none;
    }

    .projetos::before {
        width: calc(100% + 10px);
        height: 2px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;

    }



    .painel_nome_data {
        bottom: -100px;
    }

    .painel_nome_data p {
        margin: 0 0 7px 0;
        font-size: 9px;
    }


    .painel_nome_data::after {
        width: 8px;
        height: 150px;
        bottom: -10px;
        right: -20px;

    }

    .painel_nome_data::before {
        width: 150px;
        height: 8px;
        background-color: var(--cor-gray);
        bottom: -10px;
        right: -20px;
    }


}